.body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  background-color: #0E1014;

  background-image: url(~/src/images/ball-red.png),
    url(~/src/images/ball-purple.png),
    url(~/src/images/ball-red-small.png),
    url(~/src/images/light-red.png),
    url(~/src/images/light-purple.png);

  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 38% -60%, 63% 22%, 61% 538px, 0 0, 50% 0;
}
