@mixin fontMontserrat($size, $weight: 400) {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: 1.2;
}

@mixin fontInter($size, $weight: 400) {
  font-family: "Inter";
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: 1.2;
}

@mixin linkNavDecorationOnHover() {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
  opacity: .7;
}
